@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #61bfad;
  --primary-light: #80cbbd;
  --primary-dark: #438579;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei",
    "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC",
    "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC",
    "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

body {
  @apply bg-neutral-900 text-neutral-100;
}

::-webkit-scrollbar {
  @apply h-3 w-3;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-700;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-neutral-600 hover:bg-neutral-500;
}

.item-selectable {
  @apply transition hover:bg-neutral-600/30;
}

.item-selected {
  @apply !bg-neutral-600/50 transition;
}

.post-entry {
  blockquote,
  img,
  video,
  pre,
  table {
    @apply rounded-md;
  }

  blockquote {
    @apply me-0 ms-0;

    :last-child {
      @apply mb-3;
    }
  }

  img,
  video {
    @apply -mx-6 w-[calc(100%+3rem)] max-w-none;
  }

  a {
    @apply text-primary-light hover:border-none hover:text-primary hover:underline hover:decoration-wavy hover:decoration-2 hover:underline-offset-2;
  }

  code {
    @apply break-all;
  }

  img {
    @apply mb-6 mt-3;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-mt-16;
  }
}
