@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #61bfad;
    --primary-light: #80cbbd;
    --primary-dark: #438579;
    /* neutral-100 */
    --foreground: rgb(245 245 245);
    /* neutral-400 */
    --foreground-secondary: rgb(163, 163, 163);
    /* neutral-600/80 */
    --foreground-tertiary: rgb(82 82 82 / 0.8);
    /* neutral-900 */
    --background: rgb(23 23 23);
    --background-light: rgb(28, 28, 28);
    --background-lighter: rgb(33, 33, 33);
    --background-dark: rgb(17, 17, 17);
    /* neutral-950 */
    --background-darker: rgb(10, 10, 10);
  }

  ::selection {
    @apply bg-primary-dark;
  }

  ::-webkit-scrollbar {
    @apply h-3 w-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-700;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-neutral-600 hover:bg-neutral-500;
  }

  html {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
      "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei",
      "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC",
      "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC",
      "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .item-selectable {
    @apply cursor-pointer transition-colors hover:bg-neutral-600/30;
  }

  .item-selected {
    @apply !bg-neutral-600/50 transition-colors;
  }

  .item-secondary {
    @apply text-foreground-secondary;

    &.item-selectable {
      @apply transition-colors hover:bg-inherit hover:text-foreground;
    }
  }

  .item-converse-color {
    @apply bg-foreground text-background;

    &.item-selectable {
      @apply transition-colors hover:bg-foreground-secondary hover:text-background-darker;
    }
  }

  .post-entry {
    blockquote,
    img,
    video,
    pre,
    table {
      @apply rounded-lg;
    }

    blockquote {
      @apply me-0 ms-0;

      :last-child {
        @apply mb-3;
      }
    }

    img,
    video {
      @apply -mx-6 w-[calc(100%+3rem)] max-w-none;
    }

    a:not(.custom) {
      @apply text-primary-light hover:border-none hover:text-primary hover:underline hover:decoration-wavy hover:decoration-2 hover:underline-offset-2;
    }

    code {
      @apply break-all;
    }

    img {
      @apply mb-6 mt-3;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply scroll-mt-16;
    }
  }

  .algolia-search-box {
    @apply -mr-2 border-b border-foreground-tertiary px-8 py-4 text-foreground;

    > form {
      @apply flex w-full gap-2;

      > input {
        @apply flex-1 rounded-lg bg-neutral-700/80 px-3 py-1.5 text-lg;
      }

      svg {
        @apply size-5 fill-current;
      }

      button {
        @apply item-selectable rounded-md px-2;

        &.ais-SearchBox-reset {
          @apply block;
        }
      }
    }
  }

  .algolia-hints {
    @apply flex-1 overflow-y-auto py-4;

    > ol {
      > li {
        @apply mx-4 mb-2;

        &:last-child {
          @apply mb-0;
        }
      }
    }
  }

  .algolia-pagination {
    @apply select-none border-t border-foreground-tertiary px-8 py-3;

    > ul {
      @apply flex items-center justify-center gap-2;

      > li {
        &.ais-Pagination-item--selected {
          > a {
            @apply item-selected;
          }
        }

        &.ais-Pagination-item--disabled {
          @apply text-foreground-secondary;
        }

        > a {
          @apply item-selectable rounded px-1.5 py-1 text-lg;
        }
      }
    }
  }
}
