/* 避免影响 body 高度产生滚动条 */
.mermaidTooltip {
  @apply top-0;
}

/* Mermaid 拖拽 & 缩放 */
pre:has(> .mermaid) {
  @apply cursor-grab touch-none select-none overflow-hidden;
}

pre:has(> .mermaid):active {
  @apply cursor-grabbing;
}

pre:has(> .mermaid) > .mermaid > svg {
  @apply origin-[0_0];
}
